<component name="ArtifactManager">
  <artifact type="exploded-war" name="App">
    <output-path>$PROJECT_DIR$/out/artifacts/App</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="HeliantHuSWebApp/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="HeliantHuSWebApp" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="strust2" />
          <element id="file-copy" path="$PROJECT_DIR$/../Jars/jdbc/mysql-connector-java-8.0.18.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>